aiohappyeyeballs==2.6.1 ; python_version >= "3.13"
aiohttp-retry==2.9.1 ; python_version >= "3.13"
aiohttp==3.13.3 ; python_version >= "3.13"
aiosignal==1.4.0 ; python_version >= "3.13"
alembic==1.16.4 ; python_version >= "3.13"
annotated-types==0.7.0 ; python_version >= "3.13"
anyio==4.10.0 ; python_version >= "3.13"
asyncpg==0.30.0 ; python_version >= "3.13"
attrs==25.4.0 ; python_version >= "3.13"
certifi==2025.8.3 ; python_version >= "3.13"
cffi==1.17.1 ; python_version >= "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.13"
clerk-backend-api==3.2.1 ; python_version >= "3.13"
click==8.2.1 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and platform_system == "Windows"
cryptography==45.0.6 ; python_version >= "3.13"
dnspython==2.7.0 ; python_version >= "3.13"
ecdsa==0.19.1 ; python_version >= "3.13"
email-validator==2.3.0 ; python_version >= "3.13"
fastapi==0.116.1 ; python_version >= "3.13"
frozenlist==1.8.0 ; python_version >= "3.13"
greenlet==3.2.4 ; python_version >= "3.13"
gunicorn==23.0.0 ; python_version >= "3.13"
h11==0.16.0 ; python_version >= "3.13"
httpcore==1.0.9 ; python_version >= "3.13"
httpx==0.28.1 ; python_version >= "3.13"
idna==3.10 ; python_version >= "3.13"
mako==1.3.10 ; python_version >= "3.13"
markupsafe==3.0.2 ; python_version >= "3.13"
multidict==6.7.0 ; python_version >= "3.13"
packaging==25.0 ; python_version >= "3.13"
propcache==0.4.1 ; python_version >= "3.13"
pyasn1==0.6.1 ; python_version >= "3.13"
pycparser==2.22 ; python_version >= "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.33.2 ; python_version >= "3.13"
pydantic-settings==2.10.1 ; python_version >= "3.13"
pydantic==2.11.7 ; python_version >= "3.13"
pyjwt==2.10.1 ; python_version >= "3.13"
python-dotenv==1.1.1 ; python_version >= "3.13"
python-jose==3.5.0 ; python_version >= "3.13"
python-multipart==0.0.20 ; python_version >= "3.13"
requests==2.32.5 ; python_version >= "3.13"
rsa==4.2 ; python_version >= "3.13"
six==1.17.0 ; python_version >= "3.13"
sniffio==1.3.1 ; python_version >= "3.13"
sqlalchemy==2.0.43 ; python_version >= "3.13"
starlette==0.47.3 ; python_version >= "3.13"
stripe==14.1.0 ; python_version >= "3.13"
twilio==9.9.1 ; python_version >= "3.13"
typing-extensions==4.14.1 ; python_version >= "3.13"
typing-inspection==0.4.1 ; python_version >= "3.13"
urllib3==2.6.3 ; python_version >= "3.13"
uvicorn==0.35.0 ; python_version >= "3.13"
yarl==1.22.0 ; python_version >= "3.13"
